@keyframes shake {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-10px);
    }

    20% {
        transform: translateY(10px);
    }

    30% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(10px);
    }

    70% {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(10px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 0.75s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

.button1 {
    display: block;
    margin: 30px 10px;
    padding: 0px;
    font-size: 52px;
    color: tomato;
    background-color: rgb(0, 231, 231);
    border-radius: 50%;
    border: 2px solid tomato;
    cursor: pointer;
    width: 210px;
    height: 210px;
    text-align: center;
}

.button2 {
    color: rgb(0, 255, 0);
    background-color: #000;
    border-color: rgb(0, 255, 0);
    cursor: cell;
}

body {
    background-color: gold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.jezzImage {
    width: auto;
    height: 600px;
    display: block;
    margin-top: auto;
    align-self: center;
}