.button1 {
    display: block;
    margin: 30px 10px;
    padding: 0px;
    font-size: 52px;
    color: tomato;
    background-color: teal;
    border-radius: 50%;
    border: 2px solid tomato;
    cursor: pointer;
    width: 180px;
    height: 180px;
    text-align: center;
}

body {
    background-color: gold;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}